
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.badge{
  margin-left:1%;
}

.btn {
  margin-left: 10px;
}

h1{
  margin-left:5px;
  margin-bottom:1%;
}

.b-table{
  margin-left:5%;
  margin-top:5%;
  width:90%;
  background:white;
}
