
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.badge{
  margin-left:1%;
}

.btn {
  margin-left: 10px;
}

h1{
  margin-left:5px;
  margin-bottom:1%;
}

.b-table{
  margin-left:5%;
  width:90%;
  border:1px solid gray;
  background:white;
}

body{
  background-image: url("stripes-light.png");
  background-repeat: repeat;
}

.header{
  background:black;
  color:white;
}

.edit{
  margin-left:48%;
  margin-bottom:15px;
  border-radius:50%;
  padding-top:10px;
  padding:10px;
  height:50px;
  width:50px;
}

.add{
  margin-left:48%;
  border-radius:50%;
  background-color: #555555; 
  border:1px solid black;
  color:white;
  font-size:150%;
  padding:10px;
  height:50px;
  width:50px;
  
  display: flex;
  justify-content: center;
  align-items: center;

}
